<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.metasharks.catm.feature.agree.data.ui">
    <application>
        <activity
            android:name="ru.metasharks.catm.sources.feature.agree.data.ui.AgreeDataActivity"
            android:exported="false" />
    </application>
</manifest>