<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.metasharks.catm.feature.notifications.ui">

    <application>
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:label="@string/notifications_label"
            android:screenOrientation="portrait" />
    </application>
</manifest>
