<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.metasharks.catm.feature.offline.ui">

    <application>
        <activity
            android:name=".sync.SyncActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OfflineSwitcherActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
    </application>
</manifest>
